.account-cover {
    position: relative;
    overflow: hidden;
    height: 260px;
    border-radius: 0;

    .cover-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 991px) {
    .account-cover {
        height: 135px;
    }
}

.account-area {
    padding: 40px 0;
}

// account-info-area

.account-info-area {
    margin-top: -120px;
}

.account-avatar {
    margin-bottom: 24px;
}

.avatar-wrapper {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 170px;
    border: 5px solid #fff;
    border-radius: 50%;

    .avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.account-age {
    color: #9B9B9B;
    margin-bottom: 14px;
}

.account-name {
    display: flex;
    gap: 4px;
    margin-bottom: 14px;

    h1 {
        margin-bottom: 0;
    }
}

.account-menu {
    position: relative;

    .links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    .menu-link {
        position: relative;

        &.active {
            color: #B4664C;
            pointer-events: none;
        }

        &.logout-link {
            color: #9B9B9B;
            text-transform: lowercase;
        }
    }
}

@media screen and (max-width: 991px) {
    .account-info-area {
        margin-top: -90px;
    }

    .account-avatar {
        padding: 0 24px;
    }

    .avatar-wrapper {
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
    }
}

// account-content-area

.account-content-area {
    padding: 34px;
    background-color: #fff;
}

.account-content-widget {
    margin-bottom: 34px;

    .widget-title {
        font-family: var(--theme-ff-title);
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.875rem;
    }

    .btn {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .account-content-area {
        padding: 24px 16px;
    }
}