/*------------------------------------------------------------------
[ breadcrumb ]*/

.section-breadcrumb {
    margin-bottom: 40px;
}

.section__navigation {
    padding: 10px 0;
    
    .breadcrumb {
        --cui-breadcrumb-margin-bottom: 0;
        display: block;
    }
}

.breadcrumb-item {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: inherit;
}

.breadcrumb-item.active {
    color: #b8b8b8;
}