/*------------------------------------------------------------------
[ header ]*/

.header {
    padding: 20px 0;
}

.header>.container {
    display: flex;
    align-items: center;
}

/* header-logo */

.header-logo {
    padding: 4px 0;
}

.header-logo img {
    max-width: 195px;
    width: 100%;
    height: auto;
}

/* header-catalog-btn */

.header-catalog-btn {
    margin-left: 42px;
}

.btn-catalog-toggler {
    --bs-btn-padding-x: 1.875rem;
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-font-weight: 500;
    --bs-btn-color: #fff;
    --bs-btn-bg: #566B61;
    --bs-btn-border-color: #566B61;
    --bs-btn-border-radius: 50rem;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1F3326;
    --bs-btn-hover-border-color: #1F3326;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1F3326;
    --bs-btn-active-border-color: #1F3326;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #566B61;
    --bs-btn-disabled-border-color: #566B61;
}

/* header-main-menu */

.header-main-menu {
    flex-grow: 1;
}

.main-menu {
    display: flex;
    gap: 20px;
    margin: 0 20px;
}

.main-menu a {
    white-space: nowrap;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 400;
}

/* header-user-menu */

.user-menu {
    display: flex;
}

.user-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    min-width: 70px;
    padding: 2px 4px;
    white-space: nowrap;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 12px;
}

@media screen and (max-width: 991px) {
    .header {
        padding: 15px 0;
    }

    .header-logo img {
        max-width: 165px;
    }

    .header-catalog-btn,
    .main-menu,
    .header-user-menu {
        display: none;
    }
}

/*------------------------------------------------------------------
  [ offcanvasMobileMenu ]*/

/* .offcanvasMobileMenu .offcanvas-header {
    justify-content: flex-end;
  }
  
  .offcanvasMobileMenu {
    background-color: rgb(255 255 255 / 95%);
  }
  
  .mobile-menu ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .mobile-menu ul li {
    list-style-type: none;
    display: block;
    position: relative;
    margin: 0;
  }
  
  .mobile-menu a {
    display: inline-block;
    font-family: var(--theme-ff-main);
    font-size: 15px;
    font-weight: 300;
    padding: 6px 0;
    text-decoration: none;
  }
  
  .mobile-menu li.active>a {
    color: var(--bs-primary);
  } */

/* mobile menu dropdowns */

/* .mobile-menu .menu-item-has-children {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .mobile-menu .btn-dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-color: #dee2e6;
  }
  
  .mobile-menu .btn-dropdown .svg-icon {
    transition: all 0.3s ease;
  }
  
  .mobile-menu li.dropdown-active .btn-dropdown .svg-icon {
    transform: rotate(180deg);
  }
  
  .btn-dropdown .icon-chevron-down {
    width: 12px;
  }
  
  .mobile-menu ul.sub-menu {
    flex-basis: 100%;
    flex-grow: 1;
    display: none;
    overflow: hidden;
    padding-left: 20px;
  } */