/*------------------------------------------------------------------
[ badge ]*/

.badge {
    --cui-badge-font-size: 0.875em;
    --cui-badge-font-weight: 400;
}

.text-bg-success {
    color: #1F3326 !important;
}

.text-bg-info {
    color: #1F3326 !important;
}

.badge-wide {
    --cui-badge-padding-x: 42px;
    --cui-badge-padding-y: 6px;
}