/*------------------------------------------------------------------
[ buttons ]*/

.btn {
    --cui-btn-padding-y: 0.375rem;
    --cui-btn-padding-x: 0.75rem;
    --cui-btn-font-size: 1rem;
    --cui-btn-font-weight: 400;
}

.btn:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.btn-group-lg > .btn,
.btn-lg {
    --cui-btn-padding-y: 0.75rem;
    --cui-btn-padding-x: 1.5rem;
    --cui-btn-font-size: 1.125rem;
    --cui-btn-border-radius: var(--cui-border-radius-lg);
}

.btn-wide {
    --cui-btn-padding-x: 3rem;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    border-radius: 50%;
}

.btn-primary {
    --cui-btn-color: #fff;
    --cui-btn-bg: #566B61;
    --cui-btn-border-color: #566B61;
    --cui-btn-hover-color: #fff;
    --cui-btn-hover-bg: #1F3326;
    --cui-btn-hover-border-color: #1F3326;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #fff;
    --cui-btn-active-bg: #1F3326;
    --cui-btn-active-border-color: #1F3326;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #fff;
    --cui-btn-disabled-bg: #1F3326;
    --cui-btn-disabled-border-color: #1F3326;
    --cui-btn-disabled-opacity: 0.5;
}

.btn-outline {
    --cui-btn-color: #566B61;
    --cui-btn-bg: #fff;
    --cui-btn-border-color: #fff;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #fff;
    --cui-btn-hover-border-color: #fff;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #fff;
    --cui-btn-active-border-color: #fff;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #fff;
    --cui-btn-disabled-border-color: #fff;
    --cui-btn-disabled-opacity: 0.5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.btn-outline-shadow {
    --cui-btn-color: #566B61;
    --cui-btn-bg: #fff;
    --cui-btn-border-color: #fff;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #fff;
    --cui-btn-hover-border-color: #fff;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #fff;
    --cui-btn-active-border-color: #fff;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #fff;
    --cui-btn-disabled-border-color: #fff;
    --cui-btn-disabled-opacity: 0.5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.btn-light-shadow {
    --cui-btn-color: #566B61;
    --cui-btn-bg: #fff;
    --cui-btn-border-color: #fff;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #e4e4e4;
    --cui-btn-hover-border-color: #e4e4e4;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #e4e4e4;
    --cui-btn-active-border-color: #e4e4e4;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #fff;
    --cui-btn-disabled-border-color: #fff;
    --cui-btn-disabled-opacity: 0.5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.btn-check:checked+.btn-light-shadow {
    box-shadow: none;
}

.btn-dropdown-dots {
    --cui-btn-color: #B4664C;
    --cui-btn-bg: #fff;
    --cui-btn-border-color: #fff;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #fff;
    --cui-btn-hover-border-color: #fff;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #fff;
    --cui-btn-active-border-color: #fff;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #fff;
    --cui-btn-disabled-border-color: #fff;
    --cui-btn-disabled-opacity: 0.5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.btn-gray-light {
    --cui-btn-color: #566B61;
    --cui-btn-bg: #F6F6F6;
    --cui-btn-border-color: #F6F6F6;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #e4e4e4;
    --cui-btn-hover-border-color: #e4e4e4;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #e4e4e4;
    --cui-btn-active-border-color: #e4e4e4;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #e4e4e4;
    --cui-btn-disabled-border-color: #e4e4e4;
    --cui-btn-disabled-opacity: 0.5;
}

.btn-outline-primary {
    --cui-btn-color: #566B61;
    --cui-btn-border-color: #566B61;
    --cui-btn-hover-color: #fff;
    --cui-btn-hover-bg: #1F3326;
    --cui-btn-hover-border-color: #1F3326;
    --cui-btn-focus-shadow-rgb: 88, 86, 214;
    --cui-btn-active-color: #fff;
    --cui-btn-active-bg: #1F3326;
    --cui-btn-active-border-color: #1F3326;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(8, 10, 12, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: transparent;
    --cui-btn-disabled-border-color: #1F3326;
}

.btn-text {
    --cui-btn-font-weight: 400;
    --cui-btn-color: var(--cui-link-color);
    --cui-btn-bg: transparent;
    --cui-btn-border-color: transparent;
    --cui-btn-hover-color: var(--cui-link-hover-color);
    --cui-btn-hover-border-color: transparent;
    --cui-btn-active-border-color: transparent;
    --cui-btn-disabled-color: #6d7d9c;
    --cui-btn-disabled-border-color: transparent;
    --cui-btn-box-shadow: none;
    --cui-btn-focus-shadow-rgb: 113.05, 111.35, 220.15;
}

.btn-w-100 {
    width: 100%;
}

.btn-white-shadow {
    --cui-btn-color: #566B61;
    --cui-btn-bg: #fff;
    --cui-btn-border-color: #fff;
    --cui-btn-hover-color: #fff;
    --cui-btn-hover-bg: #1F3326;
    --cui-btn-hover-border-color: #1F3326;
    --cui-btn-focus-shadow-rgb: 49, 132, 253;
    --cui-btn-active-color: #fff;
    --cui-btn-active-bg: #1F3326;
    --cui-btn-active-border-color: #1F3326;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --cui-btn-disabled-color: #fff;
    --cui-btn-disabled-bg: #1F3326;
    --cui-btn-disabled-border-color: #1F3326;
    --cui-btn-disabled-opacity: 0.5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) {
    
    .btn-w-lg-auto {
        width: auto;
    }
}