/*------------------------------------------------------------------
[ general ]*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    &.catalog-menu-active,
    &.genres-menu-active {
        overflow: hidden;

        @media screen and (min-width: 992px) {
            padding-right: 15px;
        }
    }
}

.main {
    flex: 1;
}

hr {
    color: var(--cui-border-color);
    opacity: 1;
}

/* Custom Scrollbar */

/* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  } */

/* ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  } */

/* ::-webkit-scrollbar-thumb {
    background-color: #120E1E;
  } */

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-green-gradient {
    background-image: linear-gradient(90deg, #506C60 0%, #9DD3BC 100%);
}

.inline-icon {
    vertical-align: baseline;
}

.mb-14px {
    margin-bottom: 14px !important;
}

.mb-2rem {
    margin-bottom: 2rem !important;
}

.g-2rem,
.gy-2rem {
    --cui-gutter-y: 2rem;
}

.p-16 {
    padding: 16px;
}

.w-100 {
    width: 100% !important;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-560 {
    max-width: 560px;
}

.max-w-720 {
    max-width: 720px;
}

@media (min-width: 992px) {

    .g-lg-2rem,
    .gy-lg-2rem {
        --cui-gutter-y: 2rem;
    }

    .p-lg-32 {
        padding: 32px;
    }

    .px-lg-30px {
        padding-right: 1.875rem !important;
        padding-left: 1.875rem !important;
    }

    .w-lg-auto {
        width: auto !important;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --container-xxxl: 1400px;
        max-width: calc(var(--container-xxxl) + var(--cui-gutter-x));
    }
}