/*------------------------------------------------------------------
[ general ]*/

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
}

/* Custom Scrollbar */

/* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  } */

/* ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  } */

/* ::-webkit-scrollbar-thumb {
    background-color: #120E1E;
  } */

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.bg-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.inline-icon {
  vertical-align: baseline;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.g-2rem,
.gy-2rem {
  --cui-gutter-y: 2rem;
}

.p-16 {
  padding: 16px;
}

@media (min-width: 992px) {

  .g-lg-2rem,
  .gy-lg-2rem {
    --cui-gutter-y: 2rem;
  }

  .p-lg-32 {
    padding: 32px;
  }
}

@media (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --container-xxxl: 1400px;
    max-width: calc(var(--container-xxxl) + var(--cui-gutter-x));
  }
}