/*------------------------------------------------------------------
[ tooltips ]*/

.theme-tooltip-light {
    --cui-tooltip-max-width: 320px;
    --cui-tooltip-padding-x: 0.75rem;
    --cui-tooltip-padding-y: 0.75rem;
    --cui-tooltip-color: #6A6969;
    --cui-tooltip-bg: var(--cui-white);
    --cui-tooltip-opacity: 1;
    --cui-link-color-rgb: 151, 71, 255;
    --cui-link-hover-color-rgb: 31, 51, 38;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.04);

    .tooltip-inner {
        text-align: start;
    }
}