<div class="reader-progress">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="reader-progress__title">
                <div class="h4">Автор «Название книги»</div>
                <div class="chapter-name text-muted">глава</div>
            </div>
            <div class="reader-progress__count d-none d-lg-block">45 стр.<span class="text-muted"> из<span> 344</span></span></div>
        </div>
        <div class="reader-progress__bar">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="reader-progress__count d-lg-none">45 стр.<span class="text-muted"> из<span> 344</span></span></div>
    </div>
</div>

<!-- scripts -->
<script src="js/coreui.bundle.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>