/*------------------------------------------------------------------
[ account ]*/
 
.account-cover {
    position: relative;
    overflow: hidden;
    height: 260px;
    border-radius: 0;
    background-image: linear-gradient(45deg, #e9e9e9, #f5f5f5, #e5e5e5);

    @media screen and (max-width: 991px) {
        height: 135px;
    }

    .cover-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// .account-area {
//     padding: 40px 0;
// }

// account-info-area

// .account-info-area {
//     margin-top: -120px;

//     @media screen and (max-width: 991px) {
//         margin-top: -90px;
//     }
// }

.account-avatar {
    margin-bottom: 24px;

    @media screen and (max-width: 991px) {
        padding: 0 24px;
    }
}

.avatar-wrapper {
    position: relative;
    width: 170px;
    height: 170px;

    @media screen and (max-width: 991px) {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    
    .avatar-preview {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 5px solid #fff;
        border-radius: 50%;
    
        @media screen and (max-width: 991px) {
            border: 3px solid #fff;
        }
        
        .avatar-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .avatar-edit {
        position: absolute;
        top: 0;
        right: 10%;

        input {
            display: none;
        }

        .btn-change_img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}

.account-age {
    color: #9B9B9B;
    margin-bottom: 14px;

    @media screen and (max-width: 991px) {
        text-align: center;
        margin-bottom: 2px;
    }
}

.account-name {
    margin-bottom: 14px;
    
    @media screen and (max-width: 991px) {
        text-align: center;
        margin-bottom: 24px;
    }

    h1 {
        display: inline;
        vertical-align: top;
        word-break: break-word;
        margin-bottom: 0;
    }

    .account-verify {
        margin-left: 4px;
    }
}

.account-menu {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;

    .links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @media screen and (max-width: 991px) {
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            overflow-x: auto;
            scrollbar-color: #8c8c8c #f6f6f6;
            scrollbar-width: thin;
            margin: 0;
            padding-bottom: 12px;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #8c8c8c;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f6f6f6;
        }
    }

    .menu-link {
        position: relative;

        &.active {
            color: #B4664C;
            pointer-events: none;
        }

        &.logout-link {
            color: #9B9B9B;
            text-transform: lowercase;
        }
    }
}

// account-content-area

.account-content-area {
    position: relative;
    padding: 34px;
    border-radius: 10px;
    background-color: #fff;

    @media screen and (max-width: 991px) {
        padding: 24px 16px;
    }
}

.user-account-status {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 40px 30px;
    margin-bottom: -20px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

.account-content-widget {

    &:not(:last-of-type) {
        margin-bottom: 34px;
    }

    .widget-title {
        font-family: var(--theme-ff-title);
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.875rem;
    }

    .widget-subtitle {
        color: #6A6969;
        margin-top: -0.75rem;
    }
}

.book-rating-options {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 14px;

    .rating-option {
        position: relative;
        width: 50px;
        height: 50px;

        input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }

        .rating-label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 10px;
            color: #6A6969;
            font-size: 14px;
            font-weight: 500;
            background-color: #F9F9F9;
        }

        input:checked+.rating-label {
            color: #35932A;
            background-color: #F1F7F0;
        }
    }
}

.book-rating-descriptions {
    .rating-description {
        color: #9B9B9B;
        font-size: 14px;
        font-weight: 400;
    }
}

.radio-payment-method {
    position: relative;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .payment-method-label {
        cursor: pointer;
        transition: all 0.6s ease;
    }

    input:checked+.payment-method-label {
        --cui-card-border-color: #35932A;
        --cui-card-bg: #F1F7F0;
        --cui-card-color: var(--cui-body-color);
    }
}

.card-payment-method {
    --cui-card-title-color: var(--cui-body-color);
    --cui-card-subtitle-color: var(--cui-body-color);
    --cui-card-border-color: var(--cui-body-bg);
    --cui-card-border-radius: 10px;
    --cui-card-inner-border-radius: 10px;
    --cui-card-bg: var(--cui-body-bg);
    --cui-card-cap-bg: var(--cui-body-bg);
    --cui-card-color: #6A6969;
    font-size: 14px;

    .card-title {
        font-family: var(--theme-ff-title);
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0.75rem;
    }

    .card-content {
        margin-top: 1rem;

        p {
            margin-bottom: 0.875rem;
        }

        ol,
        ul {
            padding-left: 1.5rem;
        }

        a {
            text-decoration: underline;
        }
    }
}

// .badge-publication-status

.badge-publication-status {
    --cui-badge-padding-y: 0.45em;
    --cui-badge-padding-x: 1.25em;
    --cui-badge-font-size: 1em;
    --cui-badge-font-weight: 400;
    --cui-badge-border-radius: 50rem;
    background-color: #fff;

    &.item-unpublished {
        color: #9B9B9B;
    }
    
    &.item-published {
        color: var(--cui-success);
    }
    
    &.item-on-moderation {
        color: var(--cui-secondary);
    }
}

.my-items-list .item-my-book {
    margin-bottom: 34px;

    @media screen and (max-width: 991px) {
        margin-bottom: 24px;
    }
}

.item-my-book {
    position: relative;
    
    .dropdown-menu {
        --cui-dropdown-spacer: 0.875rem;
    }
    
    .item-body {
        display: flex;
        gap: 24px;
    }

    .item-img-wrapper {
        width: 105px;
        flex-shrink: 0;

        @media screen and (max-width: 991px) {
            width: 65px;
        }

        .item-img {
            max-width: 100%;
            width: 100%;
            height: auto;
            // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08), 1px 18px 18px 0px rgba(0, 0, 0, 0.07), 3px 41px 25px 0px rgba(0, 0, 0, 0.04), 5px 74px 29px 0px rgba(0, 0, 0, 0.01), 8px 115px 32px 0px rgba(0, 0, 0, 0);
            filter: drop-shadow(0px 20px 10px rgba(86, 93, 101, 0.4));
        }
    }

    .item-content {
        flex-grow: 1;

        .item-status-wrapper {
            margin-bottom: 14px;

            .badge-publication-status {
                @media screen and (max-width: 991px) {
                    --cui-badge-font-size: 0.875rem;
                }
            }
        }

        .item-title {
            --cui-link-color-rgb: 31, 51, 38;
            --cui-link-hover-color-rgb: 86, 107, 97;
            font-family: var(--theme-ff-title);
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 14px;

            @media screen and (max-width: 991px) {
                font-size: 1.125rem;
            }
        }

        .item-info-table {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 14px;

            .table-title {
                color: #6A6969;
                margin-bottom: 2px;
            }

            .table-value {
                font-weight: 500;
            }
        }

        .item-action-button-wrapper {
            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        .btn-white {
            --cui-btn-color: #566B61;
            --cui-btn-bg: #fff;
            --cui-btn-border-color: #fff;
            --cui-btn-hover-color: #fff;
            --cui-btn-hover-bg: #1F3326;
            --cui-btn-hover-border-color: #1F3326;
            --cui-btn-focus-shadow-rgb: 49, 132, 253;
            --cui-btn-active-color: #fff;
            --cui-btn-active-bg: #1F3326;
            --cui-btn-active-border-color: #1F3326;
            --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --cui-btn-disabled-color: #fff;
            --cui-btn-disabled-bg: #1F3326;
            --cui-btn-disabled-border-color: #1F3326;
            --cui-btn-disabled-opacity: 0.5;
            width: 100%;
            max-width: 180px;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
        }

    }
    
    .alert-danger {
        margin-top: 14px;
        margin-bottom: 0;

        @media screen and (min-width: 992px) {
            margin-left: 130px;
        }
    }

    .item-dropdown-wrapper {
        position: relative;
        flex-shrink: 0;
    }
}

.chapters-nav {
    .nav-item .item-link.active {
        color: var(--cui-secondary);
    }
}

.text-editor-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: #fff;

    @media screen and (min-width: 992px) {
        justify-content: center;
    }

    .btns-group {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 0 6px;
        vertical-align: middle;
    }

    .btns-divider {
        display: block;
        width: 2px;
        height: 14px;
        background-color: #C3846F;
    }

    .btn {
        height: 35px;
        min-width: 35px;
        padding: 0 6px;
        color: #6A6969;
        border: none;
        border-radius: 10px;
        &:hover,
        &:focus {
            color: #1F3326;
            background-color: #F6F6F6;
        }
    }
}

.textarea-editable {
    min-height: 500px;
    padding-bottom: 120px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.textarea-editable[aria-placeholder]:empty::before {
    content: attr(aria-placeholder);
    color: #adafad;
}

.book-date-publication-input-wrapper {
    --cui-date-picker-bg: #fff;
    --cui-date-picker-border-radius: var(--cui-border-radius);
}

.purchase-history-grid {
    display: grid;
    grid-template-columns: 100px 120px 1fr 120px;
    gap: 1px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;

    .grid-cell {
        color: #566B61;
        font-size: 16px;
        padding: 12px 8px;
        border: none;
        background-color: var(--cui-body-bg);
    }

    .grid-header {
        display: contents;

        .grid-cell {
            color: #1F3326;
            font-family: var(--theme-ff-title);
            font-size: 18px;
            font-weight: 500;
            text-align: left;
        }
    }

    .grid-row {
        display: contents;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 24px;
        border: none;
        background-color: transparent;

        .grid-header {
            display: none;
        }

        .grid-cell {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            padding: 8px 0;
            border-bottom: 1px solid #D9D9D9;
            background-color: #fff;

            &:last-child {
                border-bottom: none;
            }

            &::before {
                content: attr(data-label);
                color: #1F3326;
                font-family: var(--theme-ff-title);
                font-size: 18px;
                font-weight: 500;
            }
        }

        .grid-row {
            display: grid;
            grid-template-columns: 1fr;
            gap: 4px;
            padding: 16px;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            background-color: #fff;
        }
    }

    @media (min-width: 768px) {
        .grid-cell {
            &:nth-child(1) {
                text-align: center;
            }

            &:nth-child(4) {
                text-align: right;
            }
        }
    }
}

.account-notifications {
    
    &__empty {
        margin: 100px 0;
        text-align: center;
    }

    &__sorting {
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .notification-item {
        --cui-success-rgb: 241, 247, 240;
        --cui-info-rgb: 226, 233, 238;
        padding: 24px;
        border-radius: 10px;
        background-color: #fff;

        &__type {
            margin-bottom: 8px;

            .badge {
                --cui-badge-padding-x: 42px;
                --cui-badge-padding-y: 6px;
                --cui-badge-font-size: 14px;
                text-transform: lowercase;
            }
        }

        &__title {
            color: #1F3326;
            font-family: var(--theme-ff-title);
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        &__date {
            color: #9B9B9B;
            font-size: 16px;
            margin-bottom: 8px;
        }

        &__text {
            color: #6A6969;
            font-size: 16px;
        }

        &__content {
            display: grid;
            grid-template-columns: 46px auto;
            gap: 14px;
        }

        &__image {
            margin-top: 6px;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__action {
            --cui-link-color-rgb: var(--cui-secondary-rgb);
            --cui-link-hover-color-rgb: var(--cui-primary-rgb);
            font-size: 18px;
            text-transform: lowercase;
            margin-top: 14px;
        }

        &:has(.alert) {
            padding: 0;
            background-color: transparent;
        }

        .alert {
            --cui-alert-padding-x: 24px;
            --cui-alert-padding-y: 24px;
            --cui-alert-margin-bottom: 0;
        }
    }
}

.nav-author-works {
    --cui-nav-link-padding-x: 0;
    --cui-nav-link-padding-y: 0;
    --scrollable-gap: 1.25rem;
    --cui-nav-link-color: #9B9B9B;
    --cui-nav-link-hover-color: var(--cui-link-hover-color);
    --cui-nav-tabs-link-active-color: var(--cui-link-hover-color);

    .nav-link.active {
        color: var(--cui-nav-tabs-link-active-color);
    }
}

.item-series-upload {
    display: flex;
    gap: 0.5rem;
    min-height: 89px;

    .item-body {
        flex: 1 1 auto;
        width: 100%;
    }

    .item-media {
        flex-shrink: 0;
        -webkit-margin-end: .25rem;
        margin-inline-end: .25rem;
    }
}