/*------------------------------------------------------------------
[ catalog ]*/

// catalog-filters

.catalog-filters {

}

.catalog-filter-widget {
    margin-bottom: 24px;

    .widget-title {
        color: #1F3326;
        font-family: var(--theme-ff-title);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .filter-list {
        max-height: 210px;
        padding: 6px 2px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #E1E1E1;
        }

        &::-webkit-scrollbar-thumb {
            background: #A77F5A;
            border-radius: 11px;
        }

        @media screen and (max-width: 991px) {
            &:has(.form-check) {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                row-gap: 2px;
            }
        }

    }

    .filter-item {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 5px 0;
        margin-bottom: 2px;

        a {
            &.active {
                color: #C3846F;
            }
        }

        .form-check {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 22px;

            &-input {
                --cui-form-check-bg: #EBDFD5;
                --cui-border-color: #EBDFD5;
                width: 1em;
                height: 1em;
            }

            &-input[type=checkbox] {
                border-radius: .125em;
            }

            &-label {
                font-size: 14px;
            }
        }
    }
}

// catalog-tags

.catalog-tags {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
    margin-right: calc(var(--cui-gutter-x) * -0.5);
    margin-left: calc(var(--cui-gutter-x) * -0.5);
    margin-bottom: 14px;

    .tags-list {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        overflow-x: auto;
        padding-right: calc(var(--cui-gutter-x) * 0.5);
        padding-left: calc(var(--cui-gutter-x) * 0.5);
        padding-bottom: 2px;

        @media screen and (min-width: 992px) {
            flex-wrap: wrap;
        }
    }

    .tag-item {
        --cui-link-color-rgb: 31, 51, 38;
        --cui-link-hover-color-rgb: 167, 127, 90;
    }
}

// catalog-sorting

.catalog-sorting {
    margin-bottom: 24px;
}

.btn-dropdown-arrow .icon-arrow-down {
    display: inline-block;
    transition: 0.3s ease;
}

.btn-dropdown-arrow.show .icon-arrow-down {
    transform: rotate(180deg);
}

.catalog-filters-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #fff;

    svg {
        flex-shrink: 0;
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}

// catalog-grid

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    align-items: flex-start;
    gap: 32px 24px;
    margin-bottom: 32px;
}