/*------------------------------------------------------------------
[ page single-book.html ]*/

.section__product {
    padding-bottom: 60px;
}

/*------------------------------------------------------------------
[ product-preview-wrapper ]*/

.product-preview-wrapper {
    position: sticky;
    top: 30px;

    @media screen and (min-width: 992px) {
        padding-right: 28px;
    }
}

.product-cover-big {
    margin-bottom: 24px;

    img {
        width: 100%;
        height: auto;
        box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.22),
        9px 18px 20px 0px rgba(0, 0, 0, 0.19),
        19px 40px 27px 0px rgba(0, 0, 0, 0.11),
        34px 72px 32px 0px rgba(0, 0, 0, 0.03),
        54px 112px 35px 0px rgba(0, 0, 0, 0);
    }
}

/*------------------------------------------------------------------
[ product-content-wrapper ]*/

.product-label {
    padding: 4px 10px;
    color: rgba(195, 132, 111, 1);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 1);
    box-shadow: 3px 3px 5.8px 0px rgba(109, 88, 68, 0.15);
}

.btn-product-type {
    --cui-btn-color: #566B61;
    --cui-btn-bg: transparent;
    --cui-btn-border-color: transparent;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: #FFFFFF;
    --cui-btn-hover-border-color: #FFFFFF;
    --cui-btn-focus-shadow-rgb: 208, 209, 212;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: #FFFFFF;
    --cui-btn-active-border-color: #ebebeb;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(8, 10, 12, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: #FFFFFF;
    --cui-btn-disabled-border-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-product-main-action {
    --cui-btn-padding-y: 0;
    --cui-btn-padding-x: 0;
    --cui-btn-color: #566B61;
    --cui-btn-bg: transparent;
    --cui-btn-border-color: transparent;
    --cui-btn-hover-color: #1F3326;
    --cui-btn-hover-bg: transparent;
    --cui-btn-hover-border-color: transparent;
    --cui-btn-focus-shadow-rgb: 208, 209, 212;
    --cui-btn-active-color: #1F3326;
    --cui-btn-active-bg: transparent;
    --cui-btn-active-border-color: transparent;
    --cui-btn-active-shadow: inset 0 3px 5px rgba(8, 10, 12, 0.125);
    --cui-btn-disabled-color: #1F3326;
    --cui-btn-disabled-bg: transparent;
    --cui-btn-disabled-border-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;

    svg {
        max-width: 36px;
        max-height: 36px;
    }

    &.btn-add-whishlist.js-active {
        svg {
            path.icon-small-heart {
                fill: currentColor;
            }
        }
    }
}

/*------------------------------------------------------------------
[ product-series ]*/

.product-series-book-area {
    position: relative;
    overflow: hidden;
    padding: 24px;
    border-radius: 10px;
    background-color: #FFFFFF;

    .swiperBookSeries {
        margin-left: -24px;
        margin-right: -24px;
        padding: 24px;
    }
}

/*------------------------------------------------------------------
[ swiperBookSeries ]*/

.swiperBookSeries {

    .swiper-slide {
        width: auto;
    }

    .item-series-book {
        position: relative;
        width: 110px;
    
        .item-badge {
            position: absolute;
            top: 6px;
            left: 6px;
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            background-color: #fff;
            box-shadow: 0px 1px 2px 0px rgba(24, 52, 37, 0.1),
            0px 4px 4px 0px rgba(24, 52, 37, 0.09),
            0px 9px 6px 0px rgba(24, 52, 37, 0.05),
            0px 17px 7px 0px rgba(24, 52, 37, 0.01),
            0px 26px 7px 0px rgba(24, 52, 37, 0);
        }
    
        .item-img-wrapper {
            .item-img {
                width: 100%;
                height: auto;
                box-shadow: 1px 1px 2px 0px rgba(90, 54, 42, 0.22),
                2px 3px 4px 0px rgba(90, 54, 42, 0.19),
                5px 6px 5px 0px rgba(90, 54, 42, 0.11),
                9px 11px 6px 0px rgba(90, 54, 42, 0.03),
                14px 18px 6px 0px rgba(90, 54, 42, 0);
            }
        }
    
        .item-body {
            padding: 8px 0;
        }
    
        .item-title {
            font-size: 14px;
            font-weight: 400;
        }
    
        &.active {
            .item-badge {
                color: var(--cui-secondary);
            }
            .item-title {
                --cui-link-color-rgb: var(--cui-secondary-rgb);
            }
        }
    }
}

/*------------------------------------------------------------------
[ review ]*/

.review-item {
    position: relative;
    margin-bottom: 16px;

    .review-body {
        display: flex;
        gap: 14px;
        padding: 4px 0;
    }

    .review-avatar {
        flex: 0 0 auto;
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border: none;
        }
    }

    .review-info {
        padding: 6px 0;

        .review-text {
            margin-bottom: 16px;

            p:last-child {
                margin-bottom: 0;
            }
        }
    
        .review-emotions {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }
    
        .emotion-btn {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            padding: 0;
            border: none;
            outline: none;
            color: #1F3326;
            
            .emotion-btn__icon {
                opacity: 1;
                transition: 0.3s;
            }
    
            &:hover .emotion-btn__icon {
                opacity: 0.5;
            }
        }
    }
}

.reviews-thread-wrapper {
    margin-left: 60px;
}

.reviews-form-wrapper {
    position: relative;
    padding-top: 24px;

    .form-area {
        position: relative;
        overflow: hidden;
        padding: 24px;
        border-radius: 10px;
        background-color: #fff;
    }

    .form-review {
        textarea.form-control {
            min-height: 86px;
            field-sizing: content;
        }
    }
}