<div class="card card__author">
    <div class="card-img-cover" style="background-image: url(@@imgCover);"></div>
    <div class="card-body">
        <div class="card-img-avatar">
            <div class="avatar-wrapper">
                <a href="#">
                    <picture>
                        <!-- <source srcset="../img/card-author/avatar-01.webp" type="image/webp"> -->
                        <source srcset="@@avatar" type="image/jpeg">
                        <img class="card-img" src="@@avatar" alt="@@avatarAlt">
                    </picture>
                </a>
            </div>
        </div>
        <div class="card-title">
            <a href="#">@@title</a>
        </div>
        <div class="card-author-genres">
            <span>Жанры:</span>
            <a href="#">Фантастика</a>,
            <a href="#">Фентези</a>,
            <a href="#">Любовные романы</a>,
            <a href="#">Попаданцы</a>,
            <a href="#">Триллеры</a>
        </div>
        <div class="card-author-subscribers">
            <span>@@subscribers подписчиков</span>
        </div>
    </div>
</div>