<div class="card card__collection">
    <div class="card-img-wrapper">
        <a href="#">
            <picture>
                <source srcset="@@imgWebp" type="image/webp">
                <source srcset="@@imgPng" type="image/png">
                <img class="card-img" src="@@imgPng"
                    alt="@@imgAlt">
            </picture>
        </a>
    </div>
    <div class="card-body">
        <div class="card-title">
            <a href="#">@@title</a>
        </div>
    </div>
</div>