/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
}

.btn:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.btn-group-lg > .btn, .btn-lg {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    border-radius: 50%;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #566B61;
    --bs-btn-border-color: #566B61;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1F3326;
    --bs-btn-hover-border-color: #1F3326;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1F3326;
    --bs-btn-active-border-color: #1F3326;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1F3326;
    --bs-btn-disabled-border-color: #1F3326;
    --bs-btn-disabled-opacity: 0.5;
}

.btn-outline {
    --bs-btn-color: #566B61;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #1F3326;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #1F3326;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1F3326;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
    --bs-btn-disabled-opacity: 0.5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}