/*------------------------------------------------------------------
[ cards ]*/

.card {
    --cui-card-spacer-y: 1rem;
    --cui-card-spacer-x: 1rem;
    --cui-card-title-spacer-y: 0.5rem;
    --cui-card-border-width: 1px;
    --cui-card-border-color: transparent;
    --cui-card-border-radius: 0px;
    --cui-card-inner-border-radius: 0px;
    --cui-card-cap-padding-y: 1rem;
    --cui-card-cap-padding-x: 1rem;
    --cui-card-cap-bg: #fff;
    --cui-card-bg: #fff;
    word-wrap: normal;
}

.card-header {
    position: relative;
}

.card-footer {
    border-top: none;
}