/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
textarea,
label {
    display: block;
    outline: none;
    border: none;
}

.form-control,
.form-select {
    // --bs-border-color: var(--bs-body-bg);
    height: auto;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.form-select {
    padding-right: 2.25rem;
    background-image: url(../img/icons/select.svg);
}

.form-control:focus,
.form-select:focus {
    border-color: #AEAEAC;
    box-shadow: none !important;
}

.form-control:focus~.form-label,
.form-select:focus~.form-label {
    color: #566B61;
}

.form-check-wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 0.5rem;
}

.form-check-input {
    width: 1.125em;
    height: 1.125em;
    margin-top: initial;

    &:focus {
        border-color: var(--bs-border-color);
        box-shadow: none !important;
    }

    &:checked {
        background-color: #C3846F;
        border-color: #C3846F;
    }
}

.form-switch-xl .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    width: 3em;
    height: 1.75em;
    border-radius: 2em;
    background-image: var(--bs-form-switch-bg);
    background-position: left center;
    transition: background-position 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-switch-xl .form-check-input {
        transition: none;
    }
}

.form-switch-xl .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch-xl .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-label {
    color: #9B9B9B;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.form-text {
    color: #9B9B9B;
    font-size: 0.75em;
}

@media screen and (max-width: 991px) {
    .form-label {
        font-size: 0.875rem;
    }
}

/*------------------------------------------------------------------
[ registration-form ]*/

.registration-form-wrapper {
    color: #9B9B9B;
    padding: 44px 34px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.04), 0px 36px 36px 0px rgba(0, 0, 0, 0.03), 0px 81px 48px 0px rgba(0, 0, 0, 0.02), 0px 143px 57px 0px rgba(0, 0, 0, 0.01), 0px 224px 63px 0px rgba(0, 0, 0, 0);

    &.wrapper-sm {
        max-width: 470px;
    }
}

@media screen and (max-width: 991px) {
    .registration-form-wrapper {
        padding: 30px 20px;
    }
}